/ecal
/ecal.exe
/.cache
/.cover
/.ecal_console_history
/coverage.txt
/coverage.out
/coverage.html
/dist
/build
/examples/embedding/embedding
/examples/plugin/*.so
/ecal-support/node_modules
/ecal-support/out
/ecal-support/*.vsix
/ecal-support/package-lock.json
